{% extends '../base.html' %}

{% block content %}
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-12">
        <form method="POST" onsubmit="sendForm(this, '/'); return false;">
          <h2 class="text-center">Вход</h2>
          {% csrf_token %}
          <div class="form-group">
              <label>Имя пользователя</label>
              <input type="text" class="form-control" name="username" />
          </div>

          <div class="form-group">
              <label>Пароль</label>
              <input type="password" class="form-control" name="passwd" />
          </div>
          <div class="form-group">
            <div class="message"></div>
          </div>
          <div class="col-xs-12 text-center">
              <button class="btn btn-default" type="submit">Войти</button>
          </div>
        </form>
    </div>
{% endblock %}
