{% extends '../base.html' %}

{% block content %}
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-xs-12">
        <form>
          <h2 class="text-center">Регистрация</h2>
          <div class="form-group">
              <label>Имя пользователя</label>
              <input type="text" class="form-control" name="username" />
          </div>

          <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control" name="email" />
          </div>

          <div class="form-group">
              <label>Пароль</label>
              <input type="password" class="form-control" name="passwd" />
          </div>

          <div class="form-group">
              <label>Повтор пароля</label>
              <input type="password" class="form-control" name="repeatPasswd" />
          </div>

          <div class="col-xs-12 text-center">
              <button class="btn btn-default">Продолжить</button>
          </div>
        </form>
    </div>
{% endblock %}
