{% load staticfiles %}

<html>
    <head>
        <meta charset="UTF-8" />
        <title>Мои доски - {{ page }}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <style>
            body {
                padding: 0px;
                margin: 0px;
            }

            a {
                color: #fff;
            }

            a:hover {
                color: #fff;
            }

            .cf {
                padding: 20px;
            }

            .board {
                white-space: nowrap;
                display: flex;
                min-width: 500px;
            }

            .board .card-container {
                width: 100%;
            }


            .board .card-container .form-record {
                height: 0px;
                overflow: hidden;
                transition: .3s;
            }

            .task-list {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            .task {
                flex-basis: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            }

            .task .glyphicon {
                font-size: 25px;
                padding-right: 10px;
            }

            .task .glyphicon {
                opacity: 1;
            }

            .task .glyphicon:hover {
                opacity: 0.7;
            }

            .task .glyphicon.glyphicon-ok-sign {
                color: #87c903;
            }

            .task .control-item-task {
                display: flex;
                align-items: center;
            }

            .pub-date {
                color: rgba(0, 0, 0, 0.4);
                font-size: 12px;
                cursor: pointer;
            }

        </style>
    </head>
    <body>

        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Мои доски</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li><a href`="/login/">Вход</a></li>
                    <!--li><a href`="/register/">Регистрация</a></li-->
                {% else %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#createBoard">Создать доску</a></li>
                    <li><a href="/logout/">Выход</a></li>
                {% endif %}
              </ul>

            </div>
          </div>
        </nav>

        <div class="container-fluid" id="cf" style="overflow-y: scroll;">

            {% block content %}
            {% endblock %}

        </div>

        <div id="createBoard" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form onsubmit="add_board(this); return false;">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Создание доски</h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div class="form-group">
                                <label>Имя доски</label>
                                <input type="text" class="form-control" name="nameBoard" />
                            </div>
                            <div class="form-group">
                                <label>Номер телефона</label>
                                <input type="text" class="form-control" name="numberPhone" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="updateBoard" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" onsubmit="update_board(this); return false;">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Обновление доски</h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div class="form-group">
                                <label>Имя доски</label>
                                <input type="text" class="form-control" name="nameBoard" />
                            </div>
                            <div class="form-group">
                                <label>Номер телефона</label>
                                <input type="text" class="form-control" name="numberPhone" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div id="updateTask" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" onsubmit="update_task(this); return false;">
                        {% csrf_token %}
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Обновление задачи</h4>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <div class="form-group">
                                <label>Имя задачи</label>
                                <input type="text" class="form-control" name="nameBoard" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Изменить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="settingsBoard" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Обновление доски</h4>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <strong>Ваш ключ: </strong> <span>78rHUde78uiE&*yuewhuiy7^Y</span><br />
                        <strong>Ссылка на скрипт: </strong> <span>23</span><br />
                        <p>
                            Для работы отправки оповещений отправьте скрипт на смартфон и запустите его.
                            После этого оповщения будут отправляться.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Создать</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/site.js' %}"></script>
        
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script>
            try {
                load_progress();
            } catch (error) {
                console.info('Вы находитесь не на странице с досками');
            }
        </script>
    </body>
</html>
