{% extends '../base.html' %}

{% block content %}
    <div style="overflow-x: auto; white-space: nowrap;">
        <div id="boards" class="row" style="white-space: nowrap; display: flex;">

            {% for board in boards %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12 board" id="board-{{ board.id }}" onmouseover="update_progress('board-{{ board.id }}')">
                    <div class="card-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-7 caption-board">
                                                    <span
                                                        onclick="this.setAttribute('contenteditable', true); location.hash = '{{ board.id }}'; this.className = 'form-control'; this.style.zIndex = '100';"
                                                        onblur="this.className = ''; update_board_name('nameBoard=' + this.textContent);"
                                                    >
                                                        {{ board.name }}
                                                    </span>&nbsp;&nbsp;
                                                    <span class="badge badge-success"
                                                        onclick="this.setAttribute('contenteditable', true); location.hash = '{{ board.id }}'; this.className = 'form-control'; this.style.zIndex = '100';"
                                                        onblur="this.className = 'badge badge-success'; update_board_phone('numberPhone=' + this.textContent);"
                                                    >
                                                            {% if board.phone %}
                                                                {{ board.phone }}
                                                            {% else %}
                                                                Нет телефона
                                                            {% endif %}
                                                    </span>
                                                </div>
                                                <div class="col-xs-5 text-right">
                                                    <span class="glyphicon glyphicon-share" onclick="window.location.path = ''; board_share({{ board.id }});"></span>
                                                    <span class="glyphicon glyphicon-remove" onclick="delete_board({{ board.id }});"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body text-center">
                                        <form onsubmit="add_task(this, 'board-{{ board.id }}'); return false;">
                                            <div class="message"></div>
                                            <div class="col-xs-12 text-left">
                                                <input type="hidden" name="boardId" value="{{ board.id }}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Добавить задачу&hellip;" name="nameTask">
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="btn btn-default">+</button>
                                                    </span>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="col-xs-12 text-left">
                                            <div class="row task-list">
                                                {% for task in board.task.all %}
                                                    <div class="col-xs-12 task" data-status="{{ task.status|lower }}" id="task-{{ task.id }}">
                                                        {% if task.status %}
                                                            <span class="glyphicon glyphicon-ok-sign" data-id="{{ task.id }}" onclick="click_task({{ task.id }});"></span>
                                                        {% else %}
                                                            <span class="glyphicon glyphicon-remove-sign" data-id="{{ task.id }}" onclick="click_task({{ task.id }});"></span>
                                                        {% endif %}

                                                        <span style="width: 454px; white-space: normal; padding-right: 10px;"
                                                          onclick="this.setAttribute('contenteditable', true); location.hash = '{{ task.id }}'; this.className = 'form-control'; this.style.height = 'auto'; this.style.zIndex = '100';"
                                                          onblur="update_task('nameTask=' + this.textContent); this.className = '';"
                                                        >
                                                            {{ task.name }}
                                                        </span>

                                                        <div class="control-item-task">
                                                            <span class="pub-date" data-toggle="tooltip" data-placement="left" data-original-title="{{ task.created_at|date:'d.m.y' }}">Изм {{ task.created_at|date:'d' }} в {{ task.created_at|date:'h:i' }}</span>
                                                            &nbsp;&nbsp;<span class="glyphicon glyphicon-remove" onclick="delete_task({{ task.id }});"></span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 text-left task-progress">Выполнено 0/{{ board.task.all.count }} задач</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
