{% extends '../base.html' %}

{% block content %}
    <div style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">

                <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 col-xs-12 board" id="board-{{ board.id }}" onclick="update_progress('board-{{ board.id }}')">
                    <div class="card-container">
                        <div class="flipper">
                            <div class="front">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="col-xs-7 caption-board">
                                                    <span>
                                                        {{ board.name }}
                                                    </span>&nbsp;&nbsp;
                                                    <span class="badge badge-success">
                                                            {% if board.phone %}
                                                                {{ board.phone }}
                                                            {% else %}
                                                                Нет телефона
                                                            {% endif %}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body text-center">
                                        <div class="col-xs-12 text-left">
                                            <div class="row task-list">
                                                {% for task in board.task.all %}
                                                    <div class="col-xs-12 task" data-status="{{ task.status|lower }}">
                                                        {% if task.status %}
                                                            <span class="glyphicon glyphicon-ok-sign" data-id="{{ task.id }}"></span>
                                                        {% else %}
                                                            <span class="glyphicon glyphicon-remove-sign" data-id="{{ task.id }}"></span>
                                                        {% endif %}

                                                        <span style="width: 454px; white-space: normal; padding-right: 10px;">
                                                            {{ task.name }}
                                                        </span>

                                                        <div class="control-item-task">
                                                            <span class="pub-date" data-toggle="tooltip" data-placement="left" data-original-title="{{ task.created_at|date:'d.m.y' }}">Изм {{ task.created_at|date:'d' }} в {{ task.created_at|date:'h:i' }}</span>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <div class="col-xs-12 text-left task-progress">Выполнено 0/{{ board.task.all.count }} задач</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
